footer {
    margin-top: 40px;
    background-color: #393939;

    .container {
        padding-top: 20px;

        h2 {
            text-align: center;
            color: $main-color;
        }
    }

    .nav-container {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;

        .footer-nav-title {
            display: flex;
            color: #ffffff;
            margin-bottom: 20px;

            .icon-arrow {
                display: none;
            }
        }

        li,
        li>a {
            margin-bottom: 10px;
            color: #b2b2b2;
        }

        li> a:hover {
            color: #fff;
        }

        .footer-nav {
            display: flex;
            gap: 40px 40px;
            transition: padding-bottom 0.5s, margin-bottom 0.5s;
        }

        .footer-follow {
            text-align: center;

            div {
                color: #ffffff;
            }

            img {
                margin: 10px 0;
            }

            p {
                color: #b2b2b2;
            }
        }
    }

    .copyright {
        padding: 15px 0;
        text-align: center;
        color: #b2b2b2;
        background-color: #2b2b2b;
    }
}