@mixin mask {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ant-carousel {
    position: relative;

    .slick-list {
        transition: all 0.5s;
    }

    img {
        width: 100%;
        min-height: 500px;
        object-fit: cover;
        transition: min-height 0.5s;
    }

    .slick-arrow {
        opacity: 0;
        position: absolute;
        top: 50%;
        font-size: 32px !important;
        color: #333 !important;
        transform: translateY(-50%);
        transition: opacity 0.5s;
        z-index: 100;
    }

    .slick-arrow::before,
    .slick-arrow::after {
        content: "" !important;
    }

    .slick-prev {
        left: 10% !important;
    }

    .slick-next {
        right: 10% !important;
    }

    .slick-prev::before,
    .slick-next::before {
        position: absolute;
        top: 15px;
        width: 0px !important;
        height: 2px !important;
        background-color: #333 !important;
        transition: width 0.5s;
    }

    .slick-prev::before {
        left: 20px;
    }

    .slick-next::before {
        right: 10px;
    }

    .slick-prev:hover,
    .slick-next:hover {
        &::before {
            width: 30px !important;
        }
    }

    &:hover {
        .slick-arrow {
            opacity: 1;
        }
    }
}

.home-about {
    position: relative;
    margin-top: 60px;
    padding-top: 60px;
    height: 475px;
    transition: padding 0.5s, height 0.5s;

    &::before {
        @include mask;
        background-color: $main-color;
        opacity: 0.5;
    }

    .container {
        display: flex;
        position: relative;

        .about-img {
            min-width: 300px            ;
            transition: width 0.5s;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


        .about-container {
            padding: 22px 30px;
            height: 300px;
            color: #fff;
            background-color: $main-color;
            transform: translateY(10px);
            transition: padding 0.5s;
            transition: width 0.5s, height 0.5s;

            h3 {
                color: #fff;
                margin-bottom: 20px;
            }

            .about-text {
                margin-bottom: 0;
                text-indent: 2em;
                line-height: 26px;
            }

            .about-but {
                position: absolute;
                bottom: 0;
                padding: 5px 23px;
                background-color: #FF874C;
                cursor: pointer;
                overflow: hidden;

                span {
                    position: relative;
                    z-index: 20;
                }

                &::before {
                    opacity: 0;
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 50%;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #00000030;
                    transform: translate(-50%, -50%);
                }
            }

            .about-but:hover {
                &::before {
                    animation: round .6s linear;
                }

                @keyframes round {
                    25% {
                        opacity: .2;
                        width: 60px;
                        height: 60px;
                    }

                    50% {
                        opacity: .6;
                        width: 80px;
                        height: 80px;
                    }

                    75% {
                        width: 100px;
                        height: 100px;
                        opacity: .2;
                    }

                    100% {
                        width: 120px;
                        height: 120px;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.home-cooperation {
    position: relative;
    padding-top: 20px;
    padding-bottom: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        position: relative;
        z-index: 10;
        transition: padding 0.5s;
    }

    &::before {
        @include mask;
        opacity: 0.6;
        background-color: #fff;
    }
}

.layout .list:nth-child(1n +3) {
    border-top: 1px solid #ccc;
}